* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background: #ffffff;
}

.fm-lato {
    font-family: "Lato", sans-serif;
}

.fm-forum {
    font-family: "Forum", serif;
}

.fm-inter {
    font-family: "Inter", sans-serif;
}

.fm-didact {
    font-family: "Didact Gothic", sans-serif;
}

.fm-noto {
    font-family: "Noto Serif", serif;
}

.bg-accentGreen {
    background: #9CB31A;
}

.h-64 {
    height: 64px !important;
}

.form-control {
    border: 1px solid #D8D8D8 !important;
    border-radius: 8px !important;
}

.form-select {
    border: 1px solid #D8D8D8 !important;
    border-radius: 8px !important;
}


button {
    border: none;
    background: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

.header {
    background: #FFFFFF6B;
    backdrop-filter: blur(4px);
    z-index: 1000;


}
.hero_title{
    padding-top: 250px;
}
.sticky {
    background: #ffffff !important;
    animation: headerIN 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #D1D1D6;

}

.lookbookheader {
    background: #ffffff !important;
    animation: headerIN 0.3s ease-in-out;
    box-shadow: none;
    border-bottom: 1px solid #D1D1D6;

}

@keyframes headerIN {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.sticky .navlink {
    color: #2D1817 !important;
}

.sticky .navlink:hover {
    color: #9CB31A !important;
}

.sticky .signInBtn {
    color: #2D1817 !important;
}

.sticky .signInBtn:hover {
    color: #9CB31A !important;
}


.sticky .menubarbtn path {
    stroke: #2D1817 !important;
}


.lookbookheader .navlink {
    color: #2D1817 !important;
}

.lookbookheader .signInBtn {
    color: #2D1817 !important;
}

.lookbookheader .menubarbtn path {
    stroke: #2D1817 !important;
}

.bg-blur {
    background: #FFFFFF26;
    backdrop-filter: blur(8px)
}

.fs-14 {
    font-size: 14px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.logo {
    height: 91px;
    width: 144px;
}

.text-black-500 {
    color: #2D1817 !important;
}

.navlink_area ul {
    margin-bottom: 0;
}

.navlink {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    transition: all .3s ease;
}

.navlink:hover {
    color: #9CB31A;

}


.lookbookheader .navlink:hover {
    color: #9CB31A !important;

}

.footerLinks a:hover {
    color: #9CB31A !important;

}

.signInBtn {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

.signInBtn img {
    height: 23px;
    width: 23px;
}

.signInBtn .icon_b {
    display: none;
}

.sticky .signInBtn .icon_b {
    display: block !important;
}

.sticky .signInBtn .icon_w {
    display: none !important;
}

.signInBtn:hover {
    color: #9CB31A;

}

.lookbookheader .signInBtn .icon_b {
    display: block !important;
}

.lookbookheader .signInBtn .icon_w {
    display: none !important;
}

.lookbookheader .signInBtn:hover span {
    color: #9CB31A !important;

}

.menubarbtn {
    height: 40px;
    width: 40px;
}

.hero_section {
    background: url(../images/home_hero_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.contact_hero_section {
    background: url(../images/contactUshero_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 70vh !important;
}

.tradeshow_hero_section {
    background: url(../images/tradeshowherobg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 70vh !important;
}

.common_herobg {
    background: url(../images/commonherobg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 70vh !important;
}

.separatorBorder {
    height: 207px;
    width: 2px;
    background: #9CB31A;
}

.backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background: #9CB31A;
    border-radius: 50%;
    display: none;
    z-index: 1000;
}

.preloader {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.logoBox {
    width: 144px;
    height: 91px;
    position: relative;
}

.logoBox img {
    width: 100%;
    height: 100%;
}

.spinner-border {
    border: 3px solid #9CB31A;
    border-top-color: transparent;
    position: absolute;
    top: 0;
    right: 35px;

}

@media (min-width: 768px) {
    .w-md-50 {
        width: 50% !important;
    }
}

@media (max-width: 992px) {
    .navlink_area {
        position: fixed;
        top: 123px;
        right: 0;
        width: fit-content;
        background: #ffffff;
        z-index: 1000;
        height: calc(100vh - 124px);
        padding: 40px;
        transition: all 0.3s ease-in;
        display: none;
    }

    .navlink_area.active {
        display: block;
    }

    .navlink_area .navlink {
        color: #2D1817 !important;
    }

    .navlink_area ul {
        padding-left: 0;
    }

    .navlink_area ul li {
        width: 100%;
    }

    .sticky .navlink_area {
        background: #ffffff !important;
        border-top: 1px solid #2D1817;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .hero_section {
        background-size: cover;
    }

    .contact_hero_section {
        background-size: cover;
    }

    .tradeshow_hero_section {
        background-size: cover;
    }

    .common_herobg {
        background-size: cover;
    }

    .image_hight_auto_mb {
        height: 300px !important;
    }

    .common_herobg {
        height: 600px !important;
    }

    .tradeshow_hero_section {
        height: 600px !important;
    }

    .ht-290 {
        height: 290px !important;
    }


}

/* look book */
.lookbookherotitle {
    font-size: 60px;
}

.borderline {
    border-bottom: 1.2px solid #AEAEB2;
    padding-top: 22px;
}

.subscribearea {
    border: 1px solid #D8D8D8;
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
}

.subscribearea button {
    background: #9CB31A;
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 140px;
    border: 1px solid #D8D8D8;

}

.subscribearea input {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #494949;
}

.heronav .breadcrumb-item+.breadcrumb-item::before {
    color: #ffffff !important;
}

.eventtimelineitems img {
    height: 24px;
    width: 24px;
}

.eventtimelineitems span {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #ffffff;

}

.map_area {
    height: 260px;
    width: 100%;
    border-radius: 10px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map_area img {
    height: 40px;
    width: 40px;
}

.createAccountform {
    border: 1px solid #E5E5EA;
    box-shadow: 0px 0px 1px 0px #0000005E;
    border-radius: 19px;

}

.createAccountform label {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #494949;
}

.createAccountform input {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2D1817;
}

.createAccountform select {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2D1817;
}

/* Hide the default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create the custom checkbox */
.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    position: relative;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #757575;
    display: inline-block;
}

/* When the checkbox is checked, change the background */
.custom-checkbox input:checked~.checkmark {
    background-color: #2C2C2C;
}

/* Create the checkmark (hidden when not checked) */
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark */
.custom-checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.termsconditionlistbutton {
    list-style-type: decimal;
}

.termsconditionlistbutton li {
    margin-bottom: 10px;
}

.termsconditionlistbutton li a {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #000000;
}

.eligibilitylist {
    list-style-type: disc;
}

.eligibilitylist li {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 5px;
}

.contactinformationarea {
    background: #F7F7F7;
    padding: 15px 10px 15px 0;
}

.contactinformationarea ul li {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #000000;

}

.termsconditionlistcard {
    position: sticky;
    top: 150px;
}

.location_area {
    position: sticky;
    top: 5px;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .contact_text {
        font-size: 14px !important;
    }
}

@media (max-width: 768px) {
    .lookbookherotitle {
        font-size: 50px;
    }

    .subscribearea button {
        width: 100px;
    }
}

@media (max-width: 610px) {
    .footerLinks a {
        font-size: 12px !important;
    }

    .copywrite p {
        font-size: 12px !important;
    }

    .image_hight_auto {
        height: auto !important;
    }
}

@media (max-width: 576px) {
    .navlink_area {
        padding-left: 0 !important;
    }

}

@media (max-width: 575px) {
    .navlink_area ul {
        padding-left: 20px !important;
    }
}

@media (max-width: 440px) {
    .contactinformationarea ul li {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .contactinformationarea ul li {
        font-size: 12px;
    }
}

@media (max-height: 610px) {
    .hero_section {
        padding-top: 150px;
    }
    .hero_title{
    padding-top: 200px;
}
    .home_hero_section {
        height: 630px !important;
    }
      .image_hight_auto_mb{
        height: 200px !important;
    }
    .common_herobg{
        height: 400px !important;
    }
    .tradeshow_hero_section{
        height: 400px !important;
    }
    .ht-290{
        height: 200px !important;
    }
    .card_image{
        position: relative;
        height: 200px !important;
        overflow: hidden;
    }
      .card_image img{
        height: 100% !important;
        width: 100%;
        object-fit: cover;  
      }
      .image_hight_auto{
        height: 220px !important;
      }
      .elevated_space_image_box {
        height: 220px !important;
        overflow: hidden;
      }

}