* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background: #ffffff;
}

.fm-lato {
    font-family: "Lato", sans-serif;
}

.fm-forum {
    font-family: "Forum", serif;
}

.fm-inter {
    font-family: "Inter", sans-serif;
}

.fm-didact {
    font-family: "Didact Gothic", sans-serif;
}

.fm-noto {
    font-family: "Noto Serif", serif;
}

.bg-accentGreen {
    background: #9CB31A;
}

button {
    border: none;
    background: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

.header {
    background: #FFFFFF6B;
    backdrop-filter: blur(4px);
    z-index: 1000;

}

.sticky {
    background: #ffffff !important;
    animation: headerIN 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

@keyframes headerIN {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.sticky .navlink {
    color: #2D1817 !important;
}

.sticky .signInBtn {
    color: #2D1817 !important;
}

.sticky .menubarbtn path {
    stroke: #2D1817 !important;
}

.bg-blur {
    background: #FFFFFF26;
    backdrop-filter: blur(8px)
}

.fs-14 {
    font-size: 14px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.logo {
    height: 91px;
    width: 144px;
}

.text-black-500 {
    color: #2D1817 !important;
}

.navlink {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    transition: all .3s ease;
}

.navlink:hover {
    color: rgb(165, 165, 245);
}

.signInBtn {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

.signInBtn img {
    height: 23px;
    width: 23px;
}

.signInBtn .icon_b {
    display: none;
}

.sticky .signInBtn .icon_b {
    display: block !important;
}

.sticky .signInBtn .icon_w {
    display: none !important;
}

.menubarbtn {
    height: 40px;
    width: 40px;
}

.hero_section {
    background: url(../images/home_hero_bg.png) no-repeat 0 0 / 100% 100%;
}

.contact_hero_section {
    background: url(../images/contactUshero_bg.png) no-repeat 0 0 / 100% 100%;
}

.separatorBorder {
    height: 207px;
    width: 2px;
    background: #9CB31A;
}

.backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background: #9CB31A;
    border-radius: 50%;
    display: none;
    z-index: 1000;
}

.preloader {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.logoBox {
    width: 144px;
    height: 91px;
    position: relative;
}

.logoBox img {
    width: 100%;
    height: 100%;
}

.spinner-border {
    border: 3px solid #9CB31A;
    border-top-color: transparent;
    position: absolute;
    top: 0;
    right: 35px;

}

@media (max-width: 992px) {
    .navlink_area {
        position: fixed;
        display: none;
        top: 123px;
        left: 0;
        width: 100%;
        background: #ffffff;
        z-index: 1000;
        padding-top: 20px;
    }

    .navlink_area .navlink {
        color: #2D1817 !important;
    }

    .sticky .navlink_area {
        background: #ffffff !important;
        border-top: 1px solid #2D1817;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


}