* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background: #ffffff;
}

.fm-lato {
    font-family: "Lato", sans-serif;
}

.fm-forum {
    font-family: "Forum", serif;
}

.fm-inter {
    font-family: "Inter", sans-serif;
}

.fm-didact {
    font-family: "Didact Gothic", sans-serif;
}

.fm-noto {
    font-family: "Noto Serif", serif;
}

.bg-accentGreen {
    background: #9CB31A;
}

button {
    border: none;
    background: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

.header {
    background: #FFFFFF6B;
    backdrop-filter: blur(4px);
    z-index: 1000;


}

.sticky {
    background: #ffffff !important;
    animation: headerIN 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #D1D1D6;

}

.lookbookheader {
    background: #ffffff !important;
    animation: headerIN 0.3s ease-in-out;
    box-shadow: none;
    border-bottom: 1px solid #D1D1D6;

}

@keyframes headerIN {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.sticky .navlink {
    color: #2D1817 !important;
}

.sticky .signInBtn {
    color: #2D1817 !important;
}

.sticky .menubarbtn path {
    stroke: #2D1817 !important;
}

.lookbookheader .navlink {
    color: #2D1817 !important;
}

.lookbookheader .signInBtn {
    color: #2D1817 !important;
}

.lookbookheader .menubarbtn path {
    stroke: #2D1817 !important;
}

.bg-blur {
    background: #FFFFFF26;
    backdrop-filter: blur(8px)
}

.fs-14 {
    font-size: 14px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.logo {
    height: 91px;
    width: 144px;
}

.text-black-500 {
    color: #2D1817 !important;
}

.navlink {
    font-family: Lato;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #ffffff;
    text-transform: uppercase;
    transition: all .3s ease;
}

.navlink:hover {
    color: rgb(3, 3, 88);
}

.lookbookheader .navlink:hover {
    color: rgb(3, 3, 88) !important;
}

.footerLinks a:hover {
    color: rgb(3, 3, 88) !important;
}

.signInBtn {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

.signInBtn img {
    height: 23px;
    width: 23px;
}

.signInBtn .icon_b {
    display: none;
}

.sticky .signInBtn .icon_b {
    display: block !important;
}

.sticky .signInBtn .icon_w {
    display: none !important;
}

.lookbookheader .signInBtn .icon_b {
    display: block !important;
}

.lookbookheader .signInBtn .icon_w {
    display: none !important;
}

.menubarbtn {
    height: 40px;
    width: 40px;
}

.hero_section {
    background: url(../images/home_hero_bg.png) no-repeat 0 0 / 100% 100%;
}

.contact_hero_section {
    background: url(../images/contactUshero_bg.png) no-repeat 0 0 / 100% 100%;
}

.tradeshow_hero_section {
    background: url(../images/tradeshowherobg.png) no-repeat 0 0 / 100% 100%;
}

.common_herobg {
    background: url(../images/commonherobg.png) no-repeat 0 0 / 100% 100%;
}

.separatorBorder {
    height: 207px;
    width: 2px;
    background: #9CB31A;
}

.backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 10px;
    background: #9CB31A;
    border-radius: 50%;
    display: none;
    z-index: 1000;
}

.preloader {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.logoBox {
    width: 144px;
    height: 91px;
    position: relative;
}

.logoBox img {
    width: 100%;
    height: 100%;
}

.spinner-border {
    border: 3px solid #9CB31A;
    border-top-color: transparent;
    position: absolute;
    top: 0;
    right: 35px;

}

@media (min-width: 768px) {
    .w-md-50 {
        width: 50% !important;
    }
}

@media (max-width: 992px) {
    .navlink_area {
        position: fixed;
        display: none;
        top: 123px;
        left: 0;
        width: 100%;
        background: #ffffff;
        z-index: 1000;
        padding-top: 20px;
    }

    .navlink_area .navlink {
        color: #2D1817 !important;
    }

    .sticky .navlink_area {
        background: #ffffff !important;
        border-top: 1px solid #2D1817;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


}

/* look book */
.lookbookherotitle {
    font-size: 80px;
}

.borderline {
    border-bottom: 1.2px solid #AEAEB2;
    padding-top: 22px;
}

.subscribearea {
    border: 1px solid #D8D8D8;
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
}

.subscribearea button {
    background: #9CB31A;
    font-family: Lato;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 140px;
    border: 1px solid #D8D8D8;

}

.subscribearea input {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #494949;
}

.heronav .breadcrumb-item+.breadcrumb-item::before {
    color: #ffffff !important;
}

.eventtimelineitems img {
    height: 24px;
    width: 24px;
}

.eventtimelineitems span {
    font-family: Lato;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #ffffff;

}

.map_area {
    height: 260px;
    width: 100%;
    border-radius: 10px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map_area img {
    height: 40px;
    width: 40px;
}

@media (max-width: 768px) {
    .lookbookherotitle {
        font-size: 50px;
    }

    .subscribearea button {
        width: 100px;
    }
}